<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- build:css /styles/style.min.css -->
    <link rel='stylesheet/less' href='/styles/style.less'/>

    <!-- less engine -->
    <script src="http://cdn.staticfile.org/less.js/1.7.3/less.min.js"></script>
    <!-- endbuild -->
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
</body>
</html>
